* {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
}

.large-container {
	margin-left: 140px !important;
	margin-right: 140px !important;
}

.mg-s {
	margin-left: 140px !important;
}

.mg-e {
	margin-right: 140px !important;
}

.path a:hover {
	font-weight: 500;
}

#menu {
	width: 250px;
	background-color: rgb(248, 246, 244);
	padding: 20px;
}

#menu a {
	text-decoration: none;
	padding-top: 20px;
	color: rgb(115, 107, 107);
	font-weight: 500;
}

#btn-offcanvas {
	float: right;
	border: 1px solid black;
}

.table-thread thead {
	background-color: rgb(142, 142, 160);
}

.table-thread thead th {
	color: white;
}

.table-thread td {
	background-color: #f4f6f7;
}

.table-thread thead th:first-child {
	border-radius: 10px 0 0 0;
}

.table-thread thead th:last-child {
	border-radius: 0 10px 0 0;
}

.table-thread tbody tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

tbody tr:not(:last-child) {
	border-bottom: 1px solid #d6d3cb;
}

.table-thread tbody tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

.table-thread .row1 {
	display: flex;
}

.table-thread .link {
	color: #938d83;
}

.thread-pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 12px;
}

.linkpost {
	text-decoration: none !important;
	color: rgb(143, 131, 131);
	font-size: 110%;
	font-weight: 500;
}

.table a:hover {
	color: rgb(143, 131, 131);
}

.link {
	text-decoration: none;
}

.categories .link {
	color: rgb(143, 131, 131);
}

.categories thead {
	background-color: #f0ede8;
}

.ads thead {
	background-color: #f0ede8;
}

.page-new li a {
	color: black;
}

.pagination {
	border-radius: none;
}

.pagination .page-item.active .page-link {
	background-color: gray;
	border-color: gray;
}

@media ( max-width : 800px) {
	.mg-s, .mg-e {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}